  <!-- Modal Content -->
  <form id="lform" class="modal-content animate text-primary" action="/action_page.php">

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn btn-secundary">Login</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('id01').style.display='none'">Cancel</button>
    <span class="psw"><a href="#">Forgot your password?</a></span>
  </div>
</form>
