{% for post in posts %}
<div class="col-lg-4 col-sm-6 top-buffer">
  <div class="card text-muted m-1">
    <div class="card-block">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{ post.text|linebreaksbr }}</p>
      <div class="card-footer">
        <small class="text-muted">{{ post.published_date }}
          <a href='/delete_post/{{post.id}}/'>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
          <a href='/edit_post/{{post.id}}/' class="edit">
            <button type="button" class="close" aria-label="Close">
              <p>edit</p>
            </button>
          </a>

        </small>
      </div>
    </div>
  </div>
</div>
{% endfor %}
